<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moodnote.mapper.UserMapper">
    <!-- insert 方法已在 UserMapper.java 接口中使用 @Insert 注解定义 -->

    <!-- updateProfile --> 

    <update id="updateProfile" >
        UPDATE mood_user
        <set>
            <if test="updateProfileDTO.nickname != null and updateProfileDTO.nickname != ''">
                nickname = #{updateProfileDTO.nickname},
            </if>
            <if test="updateProfileDTO.avatar != null">
                avatar = #{updateProfileDTO.avatar},
            </if>
            <if test="updateProfileDTO.phone != null and updateProfileDTO.phone != ''">
                phone = #{updateProfileDTO.phone},
            </if>
            <if test="updateProfileDTO.gender != null">
                gender = #{updateProfileDTO.gender},
            </if>
            update_time = NOW()
        </set>
        WHERE id = #{id} AND deleted = 0
    </update>

</mapper>